a{
  color: white !important;
}
.nav-item{
  padding: 0rem 2rem 0rem 2rem;
}
.navbar-brand{
  font-family: 'Lobster' !important;
  font-size: 32px;
  padding: 0rem 3rem 0rem 1rem;
}
.navbar{
  background-color: black !important;
}
.contact{
  padding: 4%;
  height: 400px;
}
.col-md-3{
  background: #ff9b00;
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.contact-info{
  margin-top:10%;
}
.contact-info img{
  margin-bottom: 15%;
}
.contact-info h2{
  margin-bottom: 10%;
}
.col-md-9{
  background: #fff;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.contact-form label{
  font-weight:600;
}
.contact-form button{
  background: black;
  color: #fff;
  font-weight: 600;
  width: 25%;
}
.contact-form button:focus{
  box-shadow:none;
}
.my-card
{
    position:absolute;
    left:40%;
    top:-20px;
    border-radius:50%;
}
.col-md-cus{
  background: white;
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.jumbotron{
  background-color: white !important;
}
.col-md-4{
  background: white;
  padding: 0rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

